<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Capturing the good times!</h1>
            <hr>
            <p style="color:white;">Please upload your photos from previous team events. Those pictures will be streadmed during the Holiday Season Celebration Dinner 2018 on 13.12.</p>
            <button id="upload_widget" style="border-radius:0px; background-color:#009999;font-size: 40px;" class="btn btn-primary btn-xl page-scroll">Upload Photos</button>
            <br/>
            <br/>
            <br/>
            <p style="color:white;">By Uploading photos I confirm that I am aware of all GDPR rules, I have permission to distribute all uploaded photos and uploaded photos are not offensive or inappropriate in any way. Also pictures follow all common sense rules. Ask Martin Popelak for more details.</p>
        </div>
    </div>
</header>
